[submodule "themes/light"]
	path = themes/light
	url = https://github.com/verilab/purepress-theme-light.git
[submodule "themes/minimal"]
	path = themes/minimal
	url = https://github.com/verilab/purepress-theme-minimal.git
[submodule "themes/default"]
	path = themes/default
	url = https://github.com/verilab/purepress-theme-default.git
